@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-[#D9D9D9] font-helvetica;
}

body,
html {
  @apply min-h-[100vh];
}

canvas {
  position: relative;
  z-index: 1;
  pointer-events: none;
  display: block;
}

.text-stroke {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7c7c7c;
}
